<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="resources.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="RestAPITest">
    <classes>
      <class name="twitterrestassured.TwitterAPIPrac"/>
      <class name="jirarestassured.ValidateJiraApi"/>
      <class name="basicspackage.AllElementsOfResponse"/>
      <class name="basicspackage.Basics"/>
    </classes>
  </test> <!-- RestAPITest -->
</suite> <!-- Suite -->
